# Токен бота Telegram
BOT_TOKEN=

# Настройки базы данных PostgreSQL
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

# ID чата администратора (ваш Telegram ID)
ADMIN_CHAT_ID=

# Дополнительные админы (через запятую, без пробелов). Если указаны, проверка в БД не нужна
# Пример: ADMIN_IDS=123456789,987654321
ADMIN_IDS=